{%extends 'pusherchat/base.html'%} {%block content%} 
    
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span>Chat
                </div>
                <div class="panel-body">
                    <ul class="chat" id="chat">

                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" id="btn-input" class="form-control input-sm" placeholder="Type your message here">
                        <span class="input-group-btn">
                        <button class="btn btn-warning" id="btn-chat">Send </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}